<template name="Customers">
    {{#if $.Session.get 'newCustomer'}}
		{{> NewCustomer}}
	{{else}}
		<button class="new-customer">New Customer</button>
	{{/if}}	
    <section class="recipes">
        {{#if Template.subscriptionsReady}}
            {{#each customers}}
                {{> Customer}}
            {{/each}}
        {{else}}
            <p>Loading</p>
        {{/if}}
    </section>
</template>