<template name="Customer">
    <article class="recipe {{#if inMenu}}in-menu{{/if}}">
        <h3>{{fullName}}</h3>
        {{#if editMode}}
            {{> quickForm collection="Customers" id=updateCustomerId type="update" doc=this autosave=true}}
        {{else}}
            <p>{{customerCode}}</p>
            <a href="/customer/{{_id}}">View Details</a>
        {{/if}}
        <i class="fa fa-trash"></i>
        <i class="fa fa-pencil"></i>
    </article>
</template>