<template name="NewCustomer">
    <div class="new-contract-container">
        <i class="fa fa-close"></i>
        {{> quickForm collection="Customers" id="insertCustomerForm" type="insert" class="new-customer-form"}}
    </div>
</template>