<template name="SideNav">
	<nav class="side-nav">
		<ul>
			<li><a href="/master-account-list"><i class="fa fa-list"></i>Master Account List</a></li>
			<li><a href="/dealer-list"><i class="fa fa-list"></i>Dealer List</a></li>
			<li><a href="/broker-list"><i class="fa fa-list"></i>Broker List</a></li>
			<li><a href="/contract-list"><i class="fa fa-list"></i>Contract List</a></li>
			<li><a href="/customer-list"><i class="fa fa-list"></i>Customer List</a></li>
			<li><a href="/trade-list"><i class="fa fa-list"></i>Trade List</a></li>
			<li><a href="/deposit-withdrawal-list"><i class="fa fa-list"></i>Deposit/Withdrawal List</a></li>
			<li><a href="/recipe-book"><i class="fa fa-list"></i>Recipe Book</a></li>
			<li><a href="/menu"><i class="fa fa-map-o"></i>Menu</a></li>
			<li><a href="/shopping-list"><i class="fa fa-shopping-cart"></i>Shopping List</a></li>
		</ul>
	</nav>
</template>