<template name="Contracts">
    {{#if $.Session.get 'newContract'}}
		{{> NewContract}}
	{{else}}
		<button class="new-contract">New Contract</button>
	{{/if}}	
    <section class="recipes">
        {{#if Template.subscriptionsReady}}
            {{#each contracts}}
                {{> Contract}}
            {{/each}}
        {{else}}
            <p>Loading</p>
        {{/if}}
    </section>
</template>