<template name="Contract">
    <article class="recipe {{#if inMenu}}in-menu{{/if}}">
        <h3>{{code}}</h3>
        {{#if editMode}}
            {{> quickForm collection="Contracts" id=updateContractId type="update" doc=this autosave=true}}
        {{else}}
            <p>{{desc}}</p>
            <p>{{expiredDate}}</p>
            <a href="/contract/{{_id}}">View Details</a>
        {{/if}}
        <i class="fa fa-trash"></i>
        <i class="fa fa-pencil"></i>
    </article>
</template>