<template name="NewContract">
    <div class="new-contract-container">
        <i class="fa fa-close"></i>
        {{> quickForm collection="Contracts" id="insertContractForm" type="insert" class="new-contract-form"}}
    </div>
</template>